# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react/node_modules
react/package-lock.json
react/.pnp
react/.pnp.js


react_angular/package-lock.json

# testing
react/coverage

# production
react/build

# misc
api/.DS_Store
api/.env.local
api/.env.development.local
api/.env.test.local
api/.env.production.local
api/tmp
api/log

react/npm-debug.log*
react/yarn-debug.log*
react/yarn-error.log*
